<article class="card" id="orateur-{{forloop.index}}">
  <div class="card-inner">
    {% if speaker.image %}
      <div class="card-image">
        <img height="100" width="100" alt="{{speaker.name}}" src="/assets/img/{{speaker.image}}">
      </div>
    {% endif %}
    <div class="card-profile">
      <h3 class="card-name">{{speaker.name}}</h3>
      {% if speaker.links %}
      <ul class="card-links">
        {% for link in speaker.links %}
        <li><a target="_blank" href="{{link.url}}">{{link.label}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="card-bio">
      {{speaker.bio}}
    </div>
    <div class="card-talks">
      {% for talk in speaker.talks %}
      <div class="card-talk">
        <h2 class="card-talk-title">{{talk.title}}</h2>
        <div class="card-talk-type">{{talk.type}}</div>
        <div class="card-talk-description">
          {{talk.description}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</article>
