---
---

$color-primary: #00a796 !default;
$color-gradient-start: #39bb9d !default;
$color-gradient-end: #199fa7 !default;
$color-dark: #007681 !default;
$color-light: #62c3a5 !default;

@import '2018/_all';

