---
layout: default2017
label: Programme
title: Programme
navigation: true
group: 2017
permalink: /2017/programme
---

<div class="section row">

    <h2>Programme</h2>
    <p>L'accueil des participants démarre à <strong>8h20</strong> avec un petit déjeuner.</p>

    <div class="agenda-table">
      {% assign times = '8h45, 9h00, 9h40, 10h00, 11h00, 12h00, 12h15, 13h40, 14h30, 15h20, 15h40, 16h40' | split: ', ' %}

      {% for time in times %}
        {% assign talks = (site.data['2017'].agenda | where: "time" , time) %}
        {% assign count = (talks | size) %}
        {% if count > 0 %}
          <div class="agenda-row">
            <div class="agenda-cell-time">{{ time }}</div>
            {% for talk in talks %}
              <div class="agenda-cell agenda-cell-{% if count == 1%}full{% endif %}">
                {% assign mainSpeaker = (site.data['2017'].speakers | where: "name", talk.speakers[0]) %}
                {% assign mainSpeaker = mainSpeaker[0] %}

                {% if mainSpeaker and talk.desc %}
                  <a class="agenda-title" href="speakers.html#orateur-{{ mainSpeaker.name | cgi_escape }}">
                    {{ talk.title }}
                  </a>
                {% else %}
                  <span class="agenda-title">
                    {{ talk.title }}
                  </span>
                {% endif %}

                <div class="agenda-speakers">
                  {% for speakerName in talk.speakers %}
                    {% assign speaker = (site.data['2017'].speakers | where: "name", speakerName) %}
                    {% assign speaker = speaker[0] %}

                    {% if forloop.index > 1 %} et {% endif %}

                    {% if speaker %}
                      <a class="agenda-speaker" href="speakers.html#orateur-{{ speaker.name | cgi_escape }}">
                        {{ speaker.name }}
                      </a>
                    {% else %}
                      <span class="agenda-speaker">
                        {{ speakerName }}
                      </span>
                    {% endif %}
                  {% endfor %}
                </div>
                <span class="agenda-room">{{ talk.room }}</span>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

</div>
