<div class="ces-l-site-layout__topbar">
  <div class="ces-l-topbar">
    <a href="/2019/" class="ces-l-topbar__logo">
      {% if page.group == 'meetups' %}
        <img src="/images/meetups/logo-ces-meetup@2x.png" width="200" height="107" alt="{{site.title}}">
      {% else %}
        <img src="/images/edition2019/logo-ces@2x.png" width="200" height="107" alt="{{site.title}}">
      {% endif %}
    </a>
    <div class="ces-l-topbar__title">
      <small>
        {{ site[page.group].pretitle }}
      </small>
      <strong>
        {{ site[page.group].title] }}
      </strong>
    </div>
    <button type="button" class="ces-l-topbar__nav-button js-navbar-open">
      &#9776;
    </button>
  </div>
</div>
