---
layout: meetup2016
label: Meetups
title: Meetups
navigation: true
group: meetups
permalink: /meetups/
---
<div>
  {% for post in site.categories.meetup %}
  <a href="{{ post.url }}" class="meetup-overview">

    <div class="meetup-overview__header">
      {% if post.meetupDate %}
      <h4 class="meetup-overview__date">
        Evènement le

        {% assign month = post.meetupDate | date: "%-m" %}
        {{ post.meetupDate | date: "%d" }}
        {% case month %}
          {% when '1' %}Janvier
          {% when '2' %}Février
          {% when '3' %}Mars
          {% when '4' %}Avril
          {% when '5' %}Mai
          {% when '6' %}Juin
          {% when '7' %}Juillet
          {% when '8' %}Août
          {% when '9' %}Septembre
          {% when '10' %}Octobre
          {% when '11' %}Novembre
          {% when '12' %}Décembre
        {% endcase %}
        {{ post.meetupDate | date: "%Y" }}

        à

        {{ post.meetupDate | date: "%Hh%M" }}
      </h4>
      {% endif %}
      <h3 class="meetup-overview__title">
        {{ post.title }}
      </h3>
      <h5 class="meetup-overview__location">
        {{ post.meetupLocation }}
      </h5>
    </div>

    <p class="meetup-overview__excerpt">
      {{ post.excerpt | strip_html | truncate: 400 }}
    </p>

    <div class="meetup-overview__more button ghost xsmall">
      Lire la suite...
    </div>

  </a>
  {% endfor %}
</div>
