---
layout: default2016
label: Intervenants
title: Intervenants
navigation: true
group: 2016
permalink: /2016/speakers
---

<div class="row">

  <h2>Intervenants</h2>

  <div class="cards">
    {% for speaker in site.data['2016'].speakers %}

      <article class="card speaker" id="orateur-{{speaker.id}}">
        <div class="card-inner">
          {% if speaker.image %}
          <div class="card-image">
            <img height="100" width="100" alt="{{speaker.name}}" src="/assets/img/2016-orateurs/{{speaker.image}}">
          </div>
          {% endif %}
          <div class="card-profile">
            <h3 class="card-name">{{speaker.name}}</h3>
            {% if speaker.links %}
            <ul class="card-links">
              {% for link in speaker.links %}
              <li><a target="_blank" href="{{link.url}}">{{link.label}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

          <div class="card-bio js-truncate-text">
            {{speaker.bio}}
          </div>
          <div class="card-talks">
            {% for talk in speaker.talks %}
            <div class="card-talk">
              <h2 class="card-talk-title">{{talk.title}}</h2>
              <div class="card-talk-type">{{talk.type}}</div>
              <div class="card-talk-description js-truncate-text">
                {{talk.description}}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </article>

    {% endfor %}
  </div>

</div>
