---
layout: default2016
label: Sponsors
title: Sponsors
navigation: true
group: 2016
permalink: /2016/sponsors
---

<div class="section row">

    <h2>Devenir Sponsor ?</h2>

    <p>
      Codeurs en Seine est à la recherche de sponsors pour proposer un événement d'une qualité toujours meilleure.
    </p>
    <p>
      Les partenaires des éditions précédentes ont confirmé la visibilité offerte par ce sponsoring, surtout dans le cadre d'une politique de recrutement.
    </p>
    <p>
      Si vous souhaitez soutenir l'événement, téléchargez <a href="/assets/doc/codeurs-en-seine-sponsoring-2016.v6.pdf" target="_blank">le dossier de sponsoring</a>, <a href="/assets/doc/ConventiondeSponsoringCodeursenSeine2016.pdf" target="_blank">la convention de sponsoring</a> et contactez-nous.
    </p>

    <h2>Sponsors</h2>

    <h3>Sponsors Diamant</h3>

    <div class="cards">
      {% for sponsor in site.data['2016'].sponsors %}
        {% if sponsor.type == 'diamond' %}
          {% include 2016/sponsor-card.html premium="true" %}
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    <h3>Sponsors Platine</h3>

    <div class="cards">
      {% for sponsor in site.data['2016'].sponsors %}
        {% if sponsor.type == 'platine' %}
          {% include 2016/sponsor-card.html %}
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    <h3>Sponsors Or</h3>

    <div class="cards">
      {% for sponsor in site.data['2016'].sponsors %}
        {% if sponsor.type == 'gold' %}
         {% include 2016/sponsor-card.html %}
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    <h3>Sponsors Argent</h3>

    <div class="cards">
      {% for sponsor in site.data['2016'].sponsors %}
        {% if sponsor.type == 'argent' %}
          {% include 2016/sponsor-card.html %}
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    <h3>Sponsors Bronze</h3>

    <div class="cards">
      {% for sponsor in site.data['2016'].sponsors %}
        {% if sponsor.type == 'bronze' %}
          {% include 2016/sponsor-card.html %}
        {% endif %}
      {% endfor %}
    </div>

    <hr>

    <h3>Sponsors Logistique</h3>

    <a href="http://www.devoxx.be" target="_blank"><img src="/assets/img/2016DEVOXX001_WEB_BANNERS_2016_320x50.gif" width="320" height="50"></a>

</div>
