.ces-l-page {
  flex-grow: 1;
  width: 100%;
  max-width: rem(1200);
  margin: 0 auto;
  padding: rem(20);

  @include cesMediaMin($ces-breakpoint-sm) {
    padding: rem(20) rem(40);
  }

  @include cesMediaMin($ces-breakpoint-navbar) {
    margin-top: rem(40)
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0 0 rem(30) 0;

    @include cesMediaMin($ces-breakpoint-xl) {
      margin-top: rem(30);
    }

    @include cesMediaMin($ces-breakpoint-navbar) {
      margin-top: rem(10)
    }

    &-title {
      flex-grow: 1;
      font-family: $ces-font-family-title;
      display: none;
      padding-right: rem(20);

      @include cesMediaMin($ces-breakpoint-navbar) {
        display: block;
      }

      small {
        display: block;
        font-size: $ces-font-size-md;
      }

      strong {
        display: block;
        font-size: $ces-font-size-lg;
      }
    }

    &-actions {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      @include cesMediaMin($ces-breakpoint-navbar) {
        flex: none;
      }

      a {
        flex-grow: 1;
        display: block;

        @include cesMediaMax($ces-breakpoint-xxs) {
          padding-left: 0;
          padding-right: 0;
          font-size: $ces-font-size-sm;
        }
      }

      a + a {
        margin-left: rem(20);
      }
    }
  }

  &__content {

  }
}
