$ces-l-topbar-height: rem(50);
$ces-l-navbar-width-mobile: 100vw;
$ces-l-navbar-width-laptop: 30vw;

.ces-l-site-layout {
  min-height: 100vh;

  &__topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $ces-l-topbar-height;

    @include cesMediaMin($ces-breakpoint-navbar) {
      display: none;
    }
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 100%;
    width: $ces-l-navbar-width-mobile;
    top: 0;
    right: -$ces-l-navbar-width-mobile;
    bottom: 0;
    transition: transform .4s ease-in-out, box-shadow .4s;

    &.is-open {
      transform: translate(-100%, 0);
      box-shadow: rem(-10) 0 rem(20) rgba(0, 0, 0, .1);
    }

    @include cesMediaMin($ces-breakpoint-navbar) {
      left: 0;
      right: auto;
      width: $ces-l-navbar-width-laptop;
      transition: none;
      transform: none !important;
      box-shadow: none !important;
    }
  }

  &__page {
    display: flex;
    flex-direction: column;
    margin-top: $ces-l-topbar-height;

    @include cesMediaMin($ces-breakpoint-navbar) {
      margin-top: 0;
      margin-left: $ces-l-navbar-width-laptop;
    }
  }
}
