.agenda {
  &-row {
    display: flex;
    flex-wrap: wrap;
    border: $unpixel solid rgba(0, 0, 0, .1);
    border-radius: $unpixel*4;
    overflow: hidden;

    & + & {
      margin-top: $margin/4;
    }
  }

  &-cell-time {
    font-size: .9em;
    flex-basis: 100%;
    padding: $margin/4 $margin/2;
    color: white;
    background: $color-dark;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $mq-992) {
      flex: none;
      min-width: 6rem;
      text-align: right;
    }
  }

  &-cell {
    font-size: .9em;
    min-width: 0;
    flex-grow: 1;
    flex-basis: 100%;
    padding: $margin/4 $margin/2;
    border-top: $unpixel solid rgba(0, 0, 0, .1);

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $mq-480) {
      flex-basis: 50%;
      border-left: $unpixel solid rgba(0, 0, 0, .1);
      margin-left: -$unpixel;

      &-full {
        text-align: center;
      }
    }

    @media only screen and (min-width: $mq-768) {
      flex-basis: 33.333%;
    }

    @media only screen and (min-width: $mq-992) {
      flex-basis: 0;
      border-top: none;
    }
  }

  &-title {
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
    text-decoration: none;

    @at-root a#{&} {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &-speakers {
    font-size: .8em;
    word-wrap: break-word;
    margin-top: .2em;
  }

  &-room {
    display: inline-block;
    font-size: .6em;
    text-transform: uppercase;
    margin-top: auto;
    padding-top: 1em;
  }

  &-sponsor {
    display: inline-block;
    color: white;
    background: $color-dark;
    font-size: .8em;
    margin-left: $margin/8;
    padding: $margin/16 $margin/8;
    border-radius: $unpixel*2;
  }
}
