/* ------------------------- *\
    Overview
\* ------------------------- */
.meetup-overview {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: $margin * 1.5;

  border-left: $unpixel * 3 solid $color-primary;
  padding: .3rem 0 .3rem $margin / 1.5;

  &__header {
    margin-bottom: $margin / 3;
  }

  &__title {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 .5rem 0;
    color: $color-primary;
  }
  &__date {
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0 0 .3rem 0;
  }
  &__location {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
  }

  &__excerpt {
    font-size: 1rem;
    margin-bottom: $margin / 2;
  }
}

/* ------------------------- *\
    Page
\* ------------------------- */
.meetup-page {

  &__header {
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &__title {
    margin: 0 0 .5rem 0;
  }
  &__date {
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 0 0 .3rem 0;
  }
  &__location {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
  }

  &__excerpt {
    font-size: 1rem;
    margin-bottom: $margin / 2;
  }
}

