{% for slot in slots %}
  {% assign count = slot.talks | size %}
  {% if count > 0 %}
    {% for talk in slot.talks %}
      {% if talk.desc %}
      <div class="ces-c-panel js-panel" id="panel-talk-{{talk.title | cgi_escape}}">
        <div class="ces-c-panel__content">
          <div class="ces-c-panel__content-scroll">
            <strong class="ces-h-text-light">
              {{ slot.time }} - {{ talk.room }}
            </strong>

            <h3 class="ces-h-mv-xs">
              {{ talk.title }}
            </h3>

            <strong>
              {% for speaker_name in talk.speakers %}
              {% assign speaker = site.data.edition2018.speakers | where: "name", speaker_name %}
              {% assign speaker = speaker[0] %}

              {% if forloop.index == 1 %}
              Par
              {% else %}
              et
              {% endif %}

              {% if speaker and include.show_speakers_links == "true" %}
                <a class="ces-p-agenda__speaker" href="speakers.html#orateur-{{ speaker.name | cgi_escape }}">
                  {{ speaker.name }}
                </a>
              {% else %}
                <span class="ces-p-agenda__speaker">
                  {{ speaker_name }}
                </span>
              {% endif %}
              {% endfor %}
            </strong>

            <div class="ces-h-mt-md">
              {{ talk.desc }}
            </div>
          </div>
        </div>
        <div class="ces-c-panel__footer">
          <button class="ces-c-button is-block is-secondary" data-panel-close>
            Fermer
          </button>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
