---
---

$color-primary: #e8ae3c !default;
$color-gradient-start: #e8ae3c !default;
$color-gradient-end: #e8ae3c !default;
$color-dark: #333 !default;
$color-light: #e8ae3c !default;

// @import '2018/_all';
