.ces-c-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $ces-space-md;
  text-decoration: none;
  border-radius: rem(4);
  background: white;
  border: rem(1) solid rgba($ces-color-primary, .1);
  box-shadow: 0 rem(4) rem(20) rgba($ces-color-primary, .2);
  transition: border .2s;

  @at-root {
    a#{&}:hover,
    a#{&}:focus {
      border-color: $ces-color-primary;
    }
  }

  &.is-center-content {
    align-items: center;
    justify-content: center;
  }

  &.is-gutter-none {
    padding: $ces-space-none;
  }

  &.is-gutter-xxs {
    padding: $ces-space-xxs;
  }

  &.is-gutter-xs {
    padding: $ces-space-xs;
  }

  &.is-gutter-sm {
    padding: $ces-space-sm;
  }

  &.is-gutter-md {
    padding: $ces-space-md;
  }

  &.is-gutter-lg {
    padding: $ces-space-lg;
  }

  &.is-gutter-xl {
    padding: $ces-space-xl;
  }

  &.is-gutter-xxl {
    padding: $ces-space-xxl;
  }
}
