.ces-c-table {
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: rem(1) solid #eee;
  border-radius: rem(4);
  margin-bottom: $ces-space-md;

  table {
    border: 0;
    margin: 0;
  }
}
