<ul>
  {% capture page_modified %}{{ page.url }}{% endcapture %}
  {% for node in site.pages %}
    {% if node.title != null %}
      {% if node.navigation != false %}
        {% if page.group == node.group %}
          {% if page.url == node.url %}
            <li class="active"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
