

/*

color 1 : #4f4c4c; // black
color 2 : #4081bd; // blue
color 3 : #bdbcbc; // grey

*/


/* Custom style */
/*---------------------------------*/

body {
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: "ubuntu", Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-weight: bold;
}

.section > h3 {
	margin: 1em 0;
	border-bottom: 2px dotted #999;
}

/* Header
-------------------------------------------------- */

.navbar h1,
.navbar h1 a,
.navbar h1 a:hover	 {
	margin: .5em .5em;
	color: #eee;
	border: none;
}

.navbar,
footer {
	overflow: hidden;
	margin: .2em 0;
}

.header-main h1 {
	display: inline-block;
}

.tagline {
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 1.5em;
	vertical-align: middle;
}

/* Layout
-------------------------------------------------- */

.main {
	padding: 1.5em 0 3em;
	color: #4f4c4c;
	background: #eee;
	background: #eee url('../img/light_noise_diagonal.png') repeat;
	border-top: 10px solid #4081bd;
	border-bottom: 15px solid #4081bd;
}

.section {
	margin-bottom: 1.5em;
}
.section a {
  color: #4081bd;
}

.map,
#mapUniv {
	width:100%;
	height: 700px;
}

.thumbnail {
	background: #fff;
	border: 10px solid #fff;
}

#partager {
	display: none;
}

.user-group {
    width: 314;
    height:358;
}

/* Gallery
-------------------------------------------------- */

.home-gallery h3 {
	text-align: center;
	color:#333;
}

.home-gallery .thumbnail {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.navbar {
		box-shadow: inset 0px 15px 30px rgba(255, 255, 255, 0.2);
}


/* Sponsor line
-------------------------------------------------- */

.sponsorline ul {
	margin: 0 8px 1em 0;
	padding: 0;
	list-style-type: none;
}

.sponsorline li {
	float: left;
	margin: 0 0 .5em 1%;
	padding: 0;
	width: 13.25%;
	list-style-type: none;
}

.sponsorline li im {
	max-width: 100%;
}

/* footer */
.footer {
	margin-top: 10px;
}

hr {
	border-bottom-color : darkgrey;
}

.navbar-inner {
	margin-bottom: 10px;
}

.btn-reg {
	font-size: 150%;
	color: white;
	padding: 15px;
}

/* Agenda
-------------------------------------------------- */


table .agenda-cell {
     text-align: center;
     font-size: 80%;
        
}

table .agenda-cell-time
{
	text-align: right;
}

table .agenda-cell-hdr
{
	text-align: center;
}

table .agenda-cell-web
{
    background: pink;
}

table .agenda-cell-agile
{
    background: lightgreen;
}

table .agenda-cell-java
{
    background: lightblue;
}

/* Speakers
-------------------------------------------------- */
.speaker-type
{
    text-align: center;
    text-shadow: 2px 1px #AAA;
    font-weight: bold;
}


.speakers-inside-links
{
	font-size: 70%;
}

.speakers-inside-talks
{
	font-size: 70%;
}