

/*

color 1 : #4f4c4c; // black
color 2 : #4081bd; // blue
color 3 : #bdbcbc; // grey

*/


/* Custom style */
/*---------------------------------*/

body {
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: "ubuntu", Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-weight: bold;
}

.section > h3 {
	margin: 1em 0;
	border-bottom: 2px dotted #999;
}

/* Header
-------------------------------------------------- */

.navbar h1,
.navbar h1 a,
.navbar h1 a:hover	 {
	margin: .5em .5em;
	color: #eee;
	border: none;
}

.navbar,
footer {
	overflow: hidden;
	margin: 0;
}

.header-main h1 {
	display: inline-block;
}

.tagline {
	font-size: 1.3em;
	display: inline-block;
	font-weight: bold;
	letter-spacing: -2px;
}

/* Layout
-------------------------------------------------- */

.main {
	padding: 1.5em 0 3em;
	color: #4f4c4c;
	background: #eee;
	background: #eee url('../img/light_noise_diagonal.png') repeat;
	border-top: 10px solid #4081bd;
	border-bottom: 15px solid #4081bd;
}

.section {
	margin-bottom: 1.5em;
}
.section a {
  color: #4081bd;
}

.map,
#mapUniv {
	width:100%;
	height: 400px;
}

.thumbnail {
	background: #fff;
	border: 10px solid #fff;
}

#partager {
	display: none;
}

/* Gallery
-------------------------------------------------- */

.home-gallery h3 {
	text-align: center;
	color:#333;
}

.home-gallery .thumbnail {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.navbar {
		box-shadow: inset 0px 15px 30px rgba(255, 255, 255, 0.2);
}


/* Sponsor line
-------------------------------------------------- */

.smallthumbnail {
	height: 50px;
}
