

/* Custom style */
/*---------------------------------*/

body {
	background-color: #ddd;
    padding:0;
}

.main {
	padding: 2.5em 0 3em;
	font-size:1.5em;
	color:#eee;
	box-shadow: inset 0px 30px 30px rgba(0, 0, 0, 0.2);
	border-top: 5px solid #333;
	border-bottom: 15px solid #9B3E1F;
	background-color: #C64F24;
}

.home-gallery h3 {
	text-align: center;
	color:#333;
}

.home-gallery .thumbnail {
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.navbar {
		box-shadow: inset 0px 15px 30px rgba(255, 255, 255, 0.2);
}

.navbar h1,
.navbar h1 a,
.navbar h1 a:hover	 {
	margin: .5em 0;
	color: #eee;
	border: none;
}

.navbar,
footer {
	overflow: hidden;
	margin: 0;
	color: #fff;
	background: #000;
}

.content a {
    color:#ccd
}

/* Color for google plus legend */
table.plusone_table span.kT {
    color:#999
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

