.ces-l-page {
  flex-grow: 1;
  width: 100%;
  max-width: rem(1200);
  margin: 0 auto;
  padding: $ces-space-md;

  @include cesMediaMin($ces-breakpoint-sm) {
    padding: $ces-space-md $ces-space-xl;
  }

  @include cesMediaMin($ces-breakpoint-md) {
    margin-top: $ces-space-md;
  }

  @include cesMediaMin($ces-breakpoint-xl) {
    margin-top: $ces-space-xl;
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0 0 $ces-space-lg 0;

    &-title {
      flex-grow: 1;
      font-family: $ces-font-family-title;
      display: none;
      padding-right: $ces-space-md;

      @include cesMediaMin($ces-breakpoint-navbar) {
        display: block;
      }

      small {
        display: block;
        font-size: $ces-font-size-md;
      }

      strong {
        display: block;
        font-size: $ces-font-size-lg;
      }
    }

    &-actions {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      @include cesMediaMin($ces-breakpoint-navbar) {
        flex: none;
      }

      a {
        flex-grow: 1;
        display: block;
        max-width: rem(260);

        @include cesMediaMax($ces-breakpoint-xxs) {
          padding-left: 0;
          padding-right: 0;
          font-size: $ces-font-size-sm;
        }
      }

      a + a {
        margin-left: $ces-space-md;
      }
    }
  }

  &__content {
    padding-top: $ces-space-xxs;
    padding-bottom: $ces-space-xxl;
  }
}
