---
published: true
layout: edition2019-with-sponsors
group: edition2019
title: Programme
permalink: /2019/programme
navigation: true
order: 20
---

<div class="ces-p-agenda">
  <h1 class="ces-h-mt-none">Programme</h1>

  <a class="ces-c-card ces-h-mb-md" href="https://app.codeursenseine.com">
    <div class="ces-c-card__content ces-h-text-center">
      <p>
        La Progressive Web Application Codeurs en Seine est disponible pour une expérience <strong>hors ligne</strong> et la possibilité de créer votre <strong>programme personnalisé</strong>.
      </p>
      <div class="ces-c-button is-primary">Ouvrir l'application mobile</div>
    </div>
  </a>
  <div class="ces-l-grid is-gutter-xs is-gutter-md@md">
    <div class="ces-l-grid__item">
      <p>
        L'accueil des participants démarre à <del>8h00</del> <strong>7h45</strong>.
      </p>
      <p>
        Pour information, la <a href="https://www.reseau-astuce.fr/fr/info-trafic/17/Disrupt/greve-du-249-au-3112-previsions-de-trafic-de-mardi/d3602" target="_blank">TCAR prévoit des <strong>grèves le 21 novembre de 8h à 8h55</strong></a>. Pour cela, <strong>nous ouvrons l'accueil des visiteurs un peu plus tôt à 7h45</strong> pour permettre à tout le monde de prévoir un peu de marge ;)
      </p>
    </div>

    {% assign slots = site.data.edition2019.agenda %}
    {% for slot in slots %}
    {% assign count = slot.talks | size %}
    {% if count > 0 %}
      <div class="ces-l-grid__item is-1_8@md ces-h-text-right@md">
        <div class="ces-p-agenda__time">
          {{ slot.time }}
        </div>
        {% if slot.type %}
          <div class="ces-c-badge ces-p-agenda__type">
            {{ slot.type }}
          </div>
        {% endif %}
      </div>
      <div class="ces-l-grid__item is-7_8@md">
        <div class="ces-l-grid is-stretch">
          {% for talk in slot.talks %}

            {% assign main_speaker_array = site.data.edition2019.speakers | where: "name", talk.speakers[0]  %}
            {% assign main_speaker_count = main_speaker_array | size %}
            {% if main_speaker_count == 1 %}
              {% assign main_speaker = main_speaker_array[0] %}
            {% else %}
              {% assign main_speaker = false %}
            {% endif %}

            <div class="ces-l-grid__item {% if count != 1%}is-1_2@xxs is-1_4@sm is-1_2@md is-1_4@lg{% endif %}">
              {% if talk.desc or main_speaker %}
                <a class="ces-c-card ces-p-agenda__card" data-panel-open="panel-talk-{{ talk.title | cgi_escape }}" {% if main_speaker %} href="speakers.html#orateur-{{ main_speaker.name | cgi_escape }}" {% endif %}>
              {% else %}
                <div class="ces-c-card is-secondary ces-p-agenda__card">
              {% endif %}
                <div class="ces-p-agenda__anchor" id="talk-{{ talk.title | cgi_escape }}"></div>

                <span class="ces-p-agenda__title">
                  {{ talk.title | truncate: 85 }}
                </span>

                <div class="ces-p-agenda__speakers">
                  {% for speaker_name in talk.speakers %}
                    {% assign speaker = site.data.edition2019.speakers | where: "name", speaker_name %}
                    {% assign speaker = speaker[0] %}

                    {% if forloop.index > 1 %} et {% endif %}
                    <span class="ces-p-agenda__speaker">
                      {{ speaker_name }}
                    </span>
                  {% endfor %}
                </div>
                {% if talk.room %}
                  <div class="ces-p-agenda__room">
                    {{ talk.room }}

                    {% if talk.sponsor %}
                    <span class="ces-c-badge is-success ces-p-agenda__sponsor">Sponsorisé</span>
                    {% endif %}
                  </div>
                {% endif %}
              {% if talk.desc or main_speaker %}
                </a>
              {% else %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% include edition2019/talks-panels.html show_speakers_links="true" %}
