---
published: false
layout: edition2019-with-sponsors
group: edition2019
title: Intervenants
permalink: /2019/speakers
navigation: true
order: 25
---

<h1>Intervenants</h1>

<div class="ces-l-grid is-stretch">
  {% for speaker in site.data.edition2019.speakers %}
  <div class="ces-l-grid__item is-1_2@xs is-1_3@xxl">
    <article class="ces-c-card ces-p-speaker-card">
      <div class="ces-p-speaker-card__anchor" id="orateur-{{speaker.name | cgi_escape}}"></div>

      <div class="ces-p-speaker-card__header">
        {% if speaker.image %}
        <div class="ces-p-speaker-card__image">
          <img class="ces-h-image" height="100" width="100" alt="{{speaker.name}}" src="/images/edition2019/speakers/{{speaker.image}}">
        </div>
        {% endif %}
        <div class="ces-p-speaker-card__profile">
          <h3 class="ces-p-speaker-card__name">{{speaker.name}}</h3>
          {% if speaker.company %}
          <div class="ces-p-speaker-card__company">{{speaker.company}}</div>
          {% endif %}
          {% if speaker.links %}
          <div class="ces-p-speaker-card__links">
            {% for link in speaker.links %}
            <a class="ces-c-button is-xs is-primary" target="_blank" href="{{link.url}}">{{link.label}}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="ces-p-speaker-card__bio js-truncate-text" data-max-height="150">
        {{speaker.bio}}
      </div>
      <div class="ces-p-speaker-card__talks">
        {% assign slots = site.data.edition2019.agenda %}
        {% for slot in slots %}
        {% assign talks = slot.talks | where: "speakers" , speaker.name %}
        {% for talk in talks %}
        <a class="ces-p-speaker-card__talk" href="/2019/programme#talk-{{ talk.title | cgi_escape }}" data-panel-open="panel-talk-{{talk.title | cgi_escape}}">
          <div class="ces-p-speaker-card__talk-details">{{slot.time}} - {{talk.room}}</div>
          <h2 class="ces-p-speaker-card__talk-title">{{talk.title}}</h2>
          <div class="ces-p-speaker-card__talk-description">{{talk.desc | strip_html | truncate: 140}}</div>
          <div class="ces-p-speaker-card__talk-more">Voir la description complète</div>
        </a>
        {% endfor %}
        {% endfor %}
      </div>
    </article>
  </div>
  {% endfor %}
</div>

{% include edition2019/talks-panels.html %}
