<div class="ces-l-page__header">
  <div class="ces-l-page__header-title">
    <small>
      {{ site[page.group].pretitle }}
    </small>
    <strong>
      {{ site[page.group].title] }}
    </strong>
  </div>

  <!-- {% if page.group == 'edition2018' %}
  <div class="ces-l-page__header-actions">
    <a class="ces-c-button" href="/2018/comment-venir">
      Comment Venir ?
    </a>

    <a class="ces-c-button is-primary" href="/2018/inscription">
      Inscription
    </a>

  </div>
  {% endif %} -->

  {% if page.group == 'meetups' %}
  <div class="ces-l-page__header-actions">
    <a class="ces-c-button is-secondary" href="/meetups/sponsors">
      Devenir sponsor
    </a>
  </div>
  {% endif %}

</div>

<div class="ces-c-card is-danger ces-h-mb-md">
  <div class="ces-l-grid is-middle is-auto">
    <div class="ces-l-grid__item">
      Vous visitez le site d'une <strong>édition précédente</strong>.
    </div>
    <div class="ces-l-grid__item is-push">
      <a href="/" class="ces-c-button is-block">
        Voir l'édition actuelle
      </a>
    </div>
  </div>
</div>
