$ces-font-family-title: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$ces-font-family-base: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$ces-font-family-code: 'Source Code Pro', monospace !default;

$ces-line-height: 1.5;
$ces-font-size-xxs:  rem(9) !default;  // Extra extra small
$ces-font-size-xs:   rem(10) !default; // Extra small
$ces-font-size-sm:   rem(12) !default; // Small
$ces-font-size-ms:   rem(14) !default; // Medium small
$ces-font-size-md:   rem(16) !default; // Medium
$ces-font-size-ml:   rem(18) !default; // Medium large
$ces-font-size-lg:   rem(24) !default; // Large
$ces-font-size-xl:   rem(28) !default; // Extra large
$ces-font-size-xxl:  rem(32) !default; // Extra extra large
