---
---

@charset 'UTF-8';

$header-image: '/images/2017/header/header.jpg' !default;
$header-image-lg: '/images/2017/header/header-lg.jpg' !default;
$header-image-xl: '/images/2017/header/header-xl.jpg' !default;

@import '2017/_all';
