<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="ces-c-card">
  <strong class="ces-h-mb-sm">Renseignez votre email pour recevoir les news de Codeurs en Seine</strong>
  <form
    action="https://codeursenseine.us16.list-manage.com/subscribe/post?u=e89c02673c1526190f38a8e68&amp;id=942ec797d0"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div id="mc_embed_signup_scroll" class="ces-l-grid is-no-wrap@xs">
      <div class="ces-l-grid__item is-fill@xs">
        <div class="mc-field-group">
          <input type="email" placeholder="nom@domaine.fr" value="" name="EMAIL" class="ces-c-form-control required email" id="mce-EMAIL">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e89c02673c1526190f38a8e68_942ec797d0" tabindex="-1" value=""></div>
      </div>

      <div class="ces-l-grid__item is-flex-none@xs">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="ces-c-button is-primary is-block">
          Recevoir les news par email
        </button>
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
