---
---

@charset 'UTF-8';

$color-primary: #e8ae3c;
$header-image: '../../img/devoxx4kids/header.jpg';
$header-image-lg: '../../img/devoxx4kids/header-lg.jpg';
$header-image-xl: '../../img/devoxx4kids/header-xl.jpg';

@import '2017/_all';
