---
---

@charset 'UTF-8';

$header-image: '../../img/2017/header.jpg' !default;
$header-image-lg: '../../img/2017/header-lg.jpg' !default;
$header-image-xl: '../../img/2017/header-xl.jpg' !default;

@import '2017/_all';
