.cards {
  margin-left: - $marge / 2;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 100%;
  padding-left: $marge / 2;
  padding-bottom: $marge / 2;
  font-size: 1rem;
  vertical-align: top;
  display: flex;

  @media only screen and (min-width: 800px) {
    width: 50%;
  }

  @media only screen and (min-width: 1000px) {
    width: 33.3333%;
  }
}

.card-inner {
  display: block;
  position: relative;
  border: $unpixel solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
  background: $blanc;
  padding: $marge / 2;
}

.card-image {
  position: absolute;
  margin-top: -5px;
  top: $marge / 2;
  left: $marge / 2;
  width: 80px;
  height: 80px;
  background: $blanc;
  border: $unpixel solid rgba(0, 0, 0, .1);
}

.card-image + .card-profile {
  margin-top: .2rem;
  min-height: 75px;
  margin-left: 80px;
  padding-left: $marge / 2;
}

// Profile
.card-profile {
  font-size: 1rem;
}

.card-name {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: .4rem;
}

.card-links {
  list-style: none;
  margin: 0;
  margin-left: -.4rem;
  padding: 0;
  font-size: 0;

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    display: block;
    font-size: .8rem;
    padding: .1rem .6rem;
    margin-left: .4rem;
    margin-bottom: .4rem;
    border: $unpixel solid rgba(0, 0, 0, .1);
    background: $bleu;
    color: $blanc;
    border-radius: $unpixel*2;
    text-decoration: none;
    transition: .2s;

    &:hover,
    &:focus {
      background: darken($bleu, 10%);
    }
  }
}

.card-bio {
  padding-top: $marge / 2;
  font-size: .9rem;

  :last-child {
    margin-bottom: 0;
  }
}

// Talks
.card-talks {
  font-size: 1rem;
  padding-top: $marge / 2;
}

.card-talk {}
.card-talk-title {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: .6rem;
}
.card-talk-type {
  display: inline-block;
  margin-top: -.6rem;
  margin-bottom: .6rem;
  padding: .2rem .6rem;
  font-size: .8rem;
  border-radius: $unpixel*2;
  color: $gris-fonce;
  background: $blanc-2;
}
.card-talk-description {
  font-size: .9rem;

  :last-child {
    margin-bottom: 0;
  }
}

//.card {
//  margin-bottom: $marge * 2;
//  padding-bottom: $marge * 2;
//  border-bottom: $unpixel solid $gris-clair-1;
//}
//
//.card-type {
//  font-weight: $font-weight-bold;
//}
//
//.card-links,
//.speakers-talks {
//  overflow: hidden;
//  width: 100%;
//}
//
//.card-links {
//  margin-bottom: $marge;
//  padding-left: 0;
//
//  li {
//    display: inline-block;
//    margin-right: $marge;
//    list-style-type: none;
//  }
//
//  a {
//    text-decoration: underline;
//
//    &:focus,
//    &:hover {
//      text-decoration: none;
//    }
//  }
//}
//
//.card-talk h2 {
//  margin-bottom: 0;
//}
//
//.card-talk-type {
//  margin-bottom: $marge;
//  font-weight: $font-weight-bold;
//}
//
//@media screen and (min-width: 48em) { // 768px
//  .card {
//    @include col(6, 12);
//
//    &:nth-of-type(2n+1) {
//      clear: both;
//    }
//  }
//}
//
//@media screen and (min-width: 62em) { // 768px
//  .card {
//    @include col(4, 12);
//
//    &:nth-of-type(2n+1) {
//      clear: none;
//    }
//
//    &:nth-of-type(3n+1) {
//      clear: both;
//    }
//  }
//}
