
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  color: $noir-clair;
  font-family: 'ubuntu', Verdana, Arial, Helvetica, sans-serif;
  font-size: $font-size-normal;
  line-height: 1.5;
}

// Headings.

h1,
h2,
h3 {
  margin: 0 0 $marge 0;

  small {
    font-size: 65%;
  }

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: $font-size-huge;
  line-height: 1;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-great;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-big;
  line-height: 1.2;
}

h4 {
  font-size: $font-size-medium;
}

@media screen and (min-width: 48em) { // 768px
  body {
    font-size: $font-size-medium;
  }
   h1 {
    font-size: 2.48832rem;
  }
  h2 {
    font-size: 2.0736rem;
  }
  h3 {
    font-size: 1.728rem;
  }
}

@media screen and (min-width: 62em) { // 992px
  h1 {
    font-size: 2.98598rem;
  }
  h2 {
    font-size: 2.48832rem;
  }
}

// Links.

a {
  color: $bleu;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// Buttons.

.button {
  font-size: 1rem;
  display: inline-block;
  padding: .8em 1.5em;
  text-align: center;
  background: $bleu;
  border: $unpixel solid darken($bleu, 3%);
  border-radius: $unpixel * 3;
  color: $blanc;
  text-decoration: none;
  transition: .2s;

  &:focus,
  &:hover {
    background: darken($bleu, 5%);
    border-color: darken($bleu, 8%);
  }

  // Block button
  &.block {
    display: block;
  }

  // Small button
  &.small {
    padding: .4em 1em;
  }

  // White button
  &.light {
    color: $bleu;
    background: $blanc;
    border-color: transparent;

    &:focus,
    &:hover {
      background: darken($blanc, 5%);
    }
  }

  &.light-bordered {
    color: $blanc;
    background: transparent;
    border: $unpixel*2 solid $blanc;

    &:focus,
    &:hover {
      color: $bleu;
      background: $blanc;
    }
  }
}


// Paragraphs & Lists.

p,
ul,
ol,
dl {
  margin: 0 0 $marge 0;

  &:empty {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

li {
  margin-bottom: $marge / 2;

  li {
    padding-left: $marge;
  }
}

dl {
  margin-bottom: $marge;
}

dt {
  font-weight: $font-weight-bold;
}

dd {
  margin-bottom: $marge;
}

// Quotes.

blockquote {
  margin-bottom: $marge;
  padding: $marge;
  background: $gris-clair-3;
  border-left: 0.5rem solid $noir-clair;
}

q,
cite {
  font-style: italic;
}

// Sectionning.

hr {
  height: 0;
  margin: $marge 0;
  border: $unpixel solid $gris-clair-1;
}

// Inlines.

strong,
b {
  font-weight: $font-weight-bold;
}

em,
i,
dfn,
var {
  font-style: italic;
}

code {
  display: inline-block;
  padding: $marge;
  background: $gris-clair-3;
}

kbd {
  display: inline-block;
  padding: 0 $marge/4;
  background: $gris-clair-3;
  border: $unpixel solid $noir-clair;
  font-weight: $font-weight-bold;
}

samp,
small {
  font-size: $font-size-little;
}

.text-center {
  text-align: center;
}

// Address.

address {
  margin-bottom: $marge;
}

// Sup, sub.

sub,
sup {
  font-size: 0.625rem;
  font-variant: normal;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.5em;
}

sup {
  top: -0.5em;
}

// Medias.

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin-bottom: $marge;
  img {
    display: block;
  }
}

figcaption {
  font-size: $font-size-little;
  color: $gris-fonce;
}

audio,
video,
iframe {
  max-width: 100%;
  margin-bottom: $marge;
  border: $unpixel solid $gris-clair-1;
}

// Map.

.map {
  width: 100%;
  height: 42rem;
}
