.agenda-row {
  margin-bottom: $marge;
}

.agenda-cell-time,
.agenda-cell {
  padding: $marge / 2;
  text-align: center;
  vertical-align: top;
  border-right: $unpixel solid $gris-clair-1;
  border-bottom: $unpixel*2 solid $gris-clair-1;
  border-left: $unpixel solid $gris-clair-1;
}

.agenda-row .agenda-cell:last-child {
  border-right: $unpixel solid $gris-clair-1;
}

.agenda-cell-time {
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  text-align: right;
  text-align: center;
  vertical-align: middle;
  color: $noir;
  background: $gris-clair-2;
}

.agenda-cell {
  font-size: $font-size-normal;
}

.agenda-cell-keynote,
.agenda-cell-break {
  padding-top: $marge * 1.5;
  line-height: 1.2;
  vertical-align: middle;
  background: $blanc-2;
}

.agenda-cell-atelier-ext,
.agenda-cell-empty {
  padding: 0;
}

.agenda-title {
  position: relative;
  display: block;
  font-weight: $font-weight-bold;
  color: $noir;
}

.agenda-title a {
  color: $noir;
}

.agenda-table .agenda-speakers {
  display: block;
}

.agenda-cell-keynote .agenda-speakers,
.agenda-cell-break .agenda-speakers {
  font-weight: $font-weight-bold;
}

.agenda-room {
  display: block;
  font-size: 85%;
}

@media screen and (min-width: 62em) { // 992px.

  .agenda-row {
    display: table;
    margin: 0;
    width: 100%;
  }

  .agenda-cell-time,
  .agenda-cell {
    display: table-cell;
    padding-bottom: $marge * 1.5;
    width: 18%;
    border-right: none;
  }

  .agenda-cell-time {
    width: 10%;
  }

  .agenda-cell-keynote,
  .agenda-cell-break {
    width: 90%;
    line-height: 1.2;
  }

  .agenda-cell-atelier {
    border-bottom: none;
  }
}
