// Layout & Marges.
$cols-max: 12;
$marge: 2rem;
$unpixel: 0.0625rem;

// Font sizes.
$font-size-huge: 2rem;
$font-size-great: 1.7rem;
$font-size-big: 1.4rem;
$font-size-medium: 1.2rem;
$font-size-normal: 1rem;
$font-size-little: 0.8rem;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Colors.

$blanc: #fff;
$blanc-2: #f1f1f1;

$gris-clair-1: #eee;
$gris-clair-2: #ddd;
$gris-clair-3: #ccc;

$gris-fonce: #666;

$noir-clair: #333;
$noir: #000;

$bleu: #276a91;

// Header
$headerHorizontalGutters: $marge / 2;
$headerVerticalGutters: $marge / 2;
$headerHorizontalGuttersLarge: $marge;
$headerVerticalGuttersLarge: $marge / 1.5;
