.orateur {
  margin-bottom: $marge * 2;
  padding-bottom: $marge * 2;
  border-bottom: $unpixel solid #ddd;
}

.orateur-type {
  font-weight: $font-weight-bold;
}

.orateur-links,
.speakers-talks {
  overflow: hidden;
  width: 100%;
}

.orateur-links {
  margin-bottom: $marge;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: $marge;
    list-style-type: none;
  }

  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.orateur-talk h2 {
  margin-bottom: 0;
}

.orateur-talk-type {
  margin-bottom: $marge;
  font-weight: $font-weight-bold;
}
