.card {
  margin-bottom: $marge * 2;
  padding-bottom: $marge * 2;
  border-bottom: $unpixel solid $gris-clair-1;
}

.card-type {
  font-weight: $font-weight-bold;
}

.card-links,
.speakers-talks {
  overflow: hidden;
  width: 100%;
}

.card-links {
  margin-bottom: $marge;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: $marge;
    list-style-type: none;
  }

  a {
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.card-talk h2 {
  margin-bottom: 0;
}

.card-talk-type {
  margin-bottom: $marge;
  font-weight: $font-weight-bold;
}

@media screen and (min-width: 48em) { // 768px
  .card {
    @include col(6, 12);

    &:nth-of-type(2n+1) {
      clear: both;
    }
  }
}

@media screen and (min-width: 62em) { // 768px
  .card {
    @include col(4, 12);

    &:nth-of-type(2n+1) {
      clear: none;
    }

    &:nth-of-type(3n+1) {
      clear: both;
    }
  }
}
