.agenda-row {
  margin-bottom: 1em;
}

.agenda-cell-time,
.agenda-cell {
  padding: 0.5em;
  text-align: center;
  vertical-align: top;
  border-right: #ddd 1px solid;
  border-bottom: 2px solid #ddd;
  border-left: #ddd 1px solid;
}

.agenda-row .agenda-cell:last-child {
  border-right: #ddd 1px solid;
}

.agenda-cell-time {
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  text-align: center;
  vertical-align: middle;
  color: #000;
  background: #eee;
}

.agenda-cell {
  font-size: 1em;
}

.agenda-cell-keynote,
.agenda-cell-break {
  padding-top: 1.5em;
  line-height: 1.2em;
  vertical-align: middle;
  background: #f1f1f1;
}

.agenda-cell-atelier-ext,
.agenda-cell-empty {
  padding: 0;
}

.agenda-title {
  position: relative;
  display: block;
  font-weight: bold;
  color: #000;
}

.agenda-title a {
  color: #000;
}

.agenda-table .agenda-speakers {
  display: block;
}

.agenda-cell-keynote .agenda-speakers,
.agenda-cell-break .agenda-speakers {
  font-weight: bold;
}

.agenda-room {
  display: block;
  font-size: 85%;
}
