---
layout: meetups-sidebar
group: meetups
title: Meetups
permalink: /meetups/
navigation: true
order: 00
---

<h1 class="ces-h-mt-none">
  Tous les meetups
</h1>

<div class="ces-l-grid is-gutter-lg">
  {% for post in site.categories.meetup %}
  <div class="ces-l-grid__item">
    <a href="{{ post.url }}" class="ces-c-card ces-c-meetup-card">

      <h3 class="ces-c-meetup-card__title">
        {{ post.title }}
      </h3>

      <p class="ces-c-meetup-card__excerpt">
        {{ post.excerpt | strip_html | truncate: 400 }}
      </p>

      {% if post.meetup_date %}
      <p class="ces-c-meetup-card__date">
        Meetup le

        {% include meetups/meetup-date.html %}
      </p>
      {% endif %}

      {% if post.meetup_location %}
      <p class="ces-c-meetup-card__location">
        {{ post.meetup_location }}
      </p>
      {% endif %}

    </a>
  </div>
  {% endfor %}
</div>
