---
layout: meetups
group: meetups
title: Sponsors
permalink: /meetups/sponsors
navigation: true
order: 30
---

<div class="section row">

    <h2>Devenir Sponsor ?</h2>

    <p>
      Codeurs en Seine est à la recherche de sponsors pour proposer un événement d'une qualité toujours meilleure.
    </p>
    <p>
      Les partenaires des éditions précédentes ont confirmé la visibilité offerte par ce sponsoring, surtout dans le cadre d'une politique de recrutement.
    </p>
    <p>
      Si vous souhaitez soutenir l'événement, téléchargez <a href="https://drive.google.com/file/d/1BCENZDDhQPDt7ACX2OF0hXq1513iPVXD/view?usp=sharing" target="_blank">le dossier de sponsoring</a>, <a href="https://docs.google.com/document/d/1KgMSEcv3OSitJq53yfW-vNcb7RrH6rnEqgGWgMTlgy0/edit?usp=sharing" target="_blank">la convention de sponsoring</a> et contactez-nous.
    </p>

    <h2>Sponsors</h2>


    <div class="cards">
      {% for sponsor in site.data.meetups.sponsors %}
          {% include meetups/sponsor-card.html premium="false" %}
      {% endfor %}
    </div>

    <h3>Sponsors Logistique</h3>

    <a href="http://www.devoxx.be" target="_blank"><img src="/images/legacy/2016DEVOXX001_WEB_BANNERS_2016_320x50.gif" width="320" height="50"></a>

</div>
