<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% seo %}
  <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Import Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700" rel="stylesheet">
  <!-- Import the CSS -->
  <link href="{{ '/css/2018/style.css' | relative_url }}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="ces-root">

  <div class="ces-l-site-layout">
    <div class="ces-l-site-layout__topbar">
      <div class="ces-l-topbar">
        <a href="/2018/" class="ces-l-topbar__logo">
          <img src="/images/2018/logo-ces@2x.png" width="200" height="107" alt="{{site.title}}">
        </a>
        <button class="ces-l-topbar__nav-button js-navbar-open">
          &#9776;
        </button>
      </div>
    </div>
    <div class="ces-l-site-layout__navbar js-navbar">
      <div class="ces-l-navbar">
        <div class="ces-l-navbar__container">
          <button class="ces-l-navbar__close js-navbar-close">
            &times;
          </button>
          <div class="ces-l-navbar__header">
            <a href="/2018/" class="ces-l-navbar__logo">
              <img src="/images/2018/logo-ces@2x.png" width="200" height="107" alt="{{site.title}}">
            </a>
          </div>
          <div class="ces-l-navbar__nav">
            Navigation START <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation <br />
            Navigation END <br />
          </div>
          <div class="ces-l-navbar__footer">
            Footer
          </div>
        </div>
      </div>
    </div>
    <div class="ces-l-site-layout__page">
      <div class="ces-l-page">
        <div class="ces-l-page__header">
          Page header
        </div>
        <div class="ces-l-page__content">
          Page content START <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content  <br />
          Page content END <br />
        </div>
      </div>
    </div>
  </div>
  <script src="{{ '/js/2018/scripts.js' | relative_url }}"></script>
</body>
</html>
