<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% seo %}
  <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel="stylesheet" type="text/css">
  <link href="/assets/css/2016/style-devoxx4kids.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <header class="header-main">
    <div class="header-background"></div>
    <div class="wrapper">
      <div class="header-grid">
        <h1 class="header-logo">
          <a href="/{{ page.group }}/">
            <img src="/assets/img/logo-codeurs-en-seine-white.png" width="210" height="110" alt="{{site.title}}">
          </a>
        </h1>
        <p class="tagline">
          {{ site.tagline[page.group] }}
          <strong>{{ site.date[page.group] }}</strong>
        </p>
        <div class="header-menu-button">
          <a href="#menu" class="button light-ghost small block">
            Navigation
          </a>
        </div>
        <nav class="nav-main">
          {% include devoxx4kids/main-nav.html %}
        </nav>
      </div>
    </div>
  </header>
  <main class="content-main">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  <footer class="footer-main">
    <div class="wrapper">
      <div class="col col-1-2">
        <p>Email : <a href="mailto:contact@codeursenseine.com">contact@codeursenseine.com</a></p>
        <p>Twitter : <a href="http://twitter.com/codeursenseine" target="_blank">@codeursenseine</a></p>
      </div>
      <div class="col col-1-2">
        <p><a href="/2016/kitpress.html">Kit Presse & Média</a></p>
        <p><a href="/meetups">Meetups</a></p>
        <p><a href="/devoxx4kids">Devoxx4Kids</a></p>
        <p>Éditions <a href="/2013/">2013</a>, <a href="/2014/">2014</a> et <a href="/2015/">2015</a>.</p>
      </div>
    </div>
  </footer>
  <nav class="nav-mobile" id="menu">
    <div class="nav-mobile-header">
      Navigation

      <a class="nav-mobile-back-top" href="#">
        <i>&times;</i> <span>fermer</span>
      </a>
    </div>
    {% include devoxx4kids/main-nav.html %}
  </nav>

  <script src="/assets/js/2016/scripts.js"></script>
</body>
</html>
