---
layout: edition2018
---

<div class="ces-l-grid is-gutter-xxl">
  <div class="ces-l-grid__item">
    {{ content }}
  </div>
  <div class="ces-l-grid__item">
    <h2 class="ces-h-mt-none">
      Sponsors 2018
    </h2>
    <div class="ces-l-grid is-stretch">
      {% for sponsor in site.data.edition2018.sponsors %}
      <div class="ces-l-grid__item is-1_2 is-1_3@xs is-1_4@md is-1_5@lg is-1_6@xl">
        <a class="ces-c-card is-center-content" target="_blank" href="{{sponsor.link}}" title="{{sponsor.name}}">
          <img width="314" height="200" alt="{{sponsor.name}}" src="/images/edition2018/sponsors/{{sponsor.logo}}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
