---
layout: meetups
---

<div class="ces-l-grid is-gutter-xl is-gutter-xxl@lg">
  <div class="ces-l-grid__item is-2_3@sm">
    {{ content }}
  </div>
  <div class="ces-l-grid__item is-1_3@sm">
    <h2>
      Sponsors meetups
    </h2>
    <div class="ces-l-grid is-stretch is-gutter-sm">
      {% for sponsor in site.data.meetups.sponsors %}
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-none" target="_blank" href="{{sponsor.link}}" title="{{sponsor.name}}">
          <div>
            <img width="320" height="193" alt="{{sponsor.name}}" src="/images/meetups/sponsors/{{sponsor.logo}}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <h2 class="ces-h-mt-xxl">
      Associations
    </h2>
    <div class="ces-l-grid is-stretch is-gutter-sm">
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-xs" target="_blank" href="https://twitter.com/normandyjug" title="Normandy JUG sur Twitter">
          <div>
            <img src="/images/meetups/associations/njug.jpg" alt="Normandy JUG">
          </div>
        </a>
      </div>
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-xs" target="_blank" href="https://twitter.com/normandyagile" title="Normandy Agile sur Twitter">
          <div>
            <img src="/images/meetups/associations/naug.jpg" alt="Normandy Agile">
          </div>
        </a>
      </div>
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-xs" target="_blank" href="https://twitter.com/nuxde_" title="NUxDe sur Twitter">
          <div>
            <img src="/images/meetups/associations/nuxde.png" alt="NUxDe">
          </div>
        </a>
      </div>
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-xs" target="_blank" href="https://twitter.com/normandymug" title="Normandy MUG sur Twitter">
          <div>
            <img src="/images/meetups/associations/mugnormandy_100x100.jpg" alt="Normandy MUG">
          </div>
        </a>
      </div>
      <div class="ces-l-grid__item is-1_2 is-1_3@xxs is-1_4@xs is-1_2@sm">
        <a class="ces-c-card is-center-content is-gutter-none" target="_blank" href="https://twitter.com/rouenjs" title="RouenJS sur Twitter">
          <div>
            <img src="/images/meetups/associations/rouenjs.jpg" alt="RouenJS">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
