<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% seo %}
  <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel="stylesheet" type="text/css">
  <link href="/assets/css/2018/style-meetups.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <header class="header-main">
    <div class="header-background"></div>
    <div class="wrapper">
      <div class="header-grid">
        <h1 class="header-logo">
          <a href="/{{ page.group }}/">
            <img src="/assets/img/2018/logo-ces-meetup@2x.png" width="200" height="107" alt="{{site.title}}">
          </a>
        </h1>
        <p class="tagline">
          {{ site.tagline[page.group] }}
          <strong>{{ site.date[page.group] }}</strong>
        </p>
        <div class="header-menu-button">
          <a href="#menu" class="button light-ghost small block">
            Navigation
          </a>
        </div>
        <nav class="nav-main">
          {% include meetups/main-nav.html %}
        </nav>
      </div>
    </div>
  </header>
  <main class="content-main">

      <div class="wrapper">
          <h2 class="text-center">Vos meetups techniques normands!</h2>
          <div class="row">
            <div class="col col-1-6">
              <img src="/assets/img/meetup/njug.jpg" width="100" height="100" alt="Normandy Java User Group"/>
              <p><a href="https://twitter.com/normandyjug">@normandyjug</a></p>
            </div>
            <div class="col col-1-6">
              <img src="/assets/img/meetup/naug.jpg" width="100"  height="100"  alt="Normandy Agile User Group"/>
              <p><a href="https://twitter.com/normandyagile">@normandyagile</a></p>
            </div>
            <div class="col col-1-6">
              <img src="/assets/img/meetup/nuxde.png" width="100"  height="100" alt="Normandy Ux Designer"/>
              <p><a href="https://twitter.com/nuxde_">@nuxde_</a></p>
            </div>
            <div class="col col-1-6">
              <img src="/assets/img/meetup/rouenjs.jpg" width="100" height="100"  alt="Rouen Javascript"/>
              <p><a href="https://twitter.com/rouenjs">@rouenjs</a></p>
            </div>
            <div class="col col-1-6">
              <img src="/assets/img/meetup/mugnormandy_100x100.jpg" width="100" height="100"  alt="MUG Normandy"/>
              <p><a href="https://twitter.com/normandymug">@normandymug</a></p>
            </div>
          </div>
          <a href="https://voxxeddays.com/microservices/"><img src="/assets/img/meetup/Voxxedmicroservices_banner.jpg"  width="780" height="96" alt="Voxxed Micro Services"></a>
          <a href="https://www.nwx.fr/nwx-summer-festival-2018/"><img src="/assets/img/meetup/nwxSF18_780x130_signature_email.jpeg" width="780" height="130" alt="NWX Summer Festival 2018"></a>
        </div>

        <hr>

    <div class="wrapper">
      {{ content }}
    </div>

    <hr>

   
  </main>
  <section class="footer-sponsors">
    <div class="wrapper text-center">
      <h2>Sponsors</h2>
      {% for sponsor in site.data['2018'].sponsors_meetup %}
        <a href="{{sponsor.link}}" class="footer-sponsors-item" title="{{sponsor.name}}">
          <img width="314" height="200" alt="{{sponsor.name}}" src="/assets/img/{{sponsor.logo}}">
        </a>
      {% endfor %}
    </div>
  </section>
  <footer class="footer-main">
    <div class="wrapper">
      <div class="col col-1-2">
        <p>Email : <a href="mailto:contact@codeursenseine.com">contact@codeursenseine.com</a></p>
        <p>Twitter : <a href="http://twitter.com/codeursenseine" target="_blank">@codeursenseine</a></p>
      </div>
      <div class="col col-1-2">
        <p><a href="/2018/kitpress.html">Kit Presse & Média</a></p>
        <p><a href="/2018">Conférence 2018</a> - <a href="/meetups">Meetups</a></p>
        <p>Éditions précédentes <a href="/2013/">2013</a>, <a href="/2014/">2014</a>, <a href="/2015/">2015</a>, <a href="/2016/">2016</a> et <a href="/2017/">2017</a>.</p>
        <p><a href="/devoxx4kids">Devoxx4Kids</a></p>
      </div>
    </div>
  </footer>
  <nav class="nav-mobile" id="menu">
    <div class="nav-mobile-header">
      Navigation

      <a class="nav-mobile-back-top" href="#">
        <i>&times;</i> <span>fermer</span>
      </a>
    </div>
    {% include meetups/main-nav.html %}
  </nav>


  <script src="/assets/js/2018/scripts.js"></script>
</body>
</html>
