<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% seo %}
  <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,300,700" rel="stylesheet" type="text/css">
  <link href="/assets/css/2016/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <header class="header-main">
    <div class="header-background"></div>
    <div class="wrapper">
      <div class="header-grid">
        <h1 class="header-logo">
          <a href="/{{ page.group }}/">
            <img src="/assets/img/logo-codeurs-en-seine-white.png" width="210" height="110" alt="{{site.title}}">
          </a>
        </h1>
        <p class="tagline">
          {{ site.tagline[page.group] }}
          <strong>{{ site.date[page.group] }}</strong>
        </p>
        <div class="header-menu-button">
          <a href="#menu" class="button light-ghost small block">
            Navigation
          </a>
        </div>
        <nav class="nav-main">
          <ul>
            {% capture page_modified %}{{ page.url }}{% endcapture %}
            {% for node in site.pages %}
              {% if node.title != null %}
                {% if node.navigation != false %}
                  {% if page.group == node.group %}
                    {% if page.url == node.url %}
                      <li class="active"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                      <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            <li><a href="{{ BASE_PATH }}/2016/">Conférence 2016</a></li>
            <li><a href="{{ BASE_PATH }}/2015/">2015</a></li>
            <li><a href="{{ BASE_PATH }}/2014/">2014</a></li>
            <li><a href="{{ BASE_PATH }}/2013/">2013</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main class="content-main">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  <section class="footer-sponsors">
    <div class="wrapper">
      <h2 class="text-center">Sponsors</h2>
      {% for sponsor in site.data['2016'].sponsors_meetup_2016 %}
        <a href="{{sponsor.link}}" title="{{sponsor.name}}">
          <img width="314" height="200" alt="{{sponsor.name}}" src="/assets/img/{{sponsor.logo}}">
        </a>
      {% endfor %}
    </div>
  </section>
  <footer class="footer-main">
    <div class="wrapper">
      <div class="col col-1-2">
        <p>Email : <a href="mailto:contact@codeursenseine.com">contact@codeursenseine.com</a></p>
        <p>Twitter : <a href="http://twitter.com/codeursenseine" target="_blank">@codeursenseine</a></p>
      </div>
      <div class="col col-1-2">
        <p><a href="/2016/kitpress.html">Kit Presse & Média</a></p>
        <p><a href="/meetups">Meetups</a></p>
        <p>Éditions <a href="/2013/">2013</a>, <a href="/2014/">2014</a> et <a href="/2015/">2015</a>.</p>
      </div>
    </div>
  </footer>
  <nav class="nav-mobile" id="menu">
    <div class="nav-mobile-header">
      Navigation

      <a class="nav-mobile-back-top" href="#">
        <i>&times;</i> <span>fermer</span>
      </a>
    </div>
    <ul>
      {% capture page_modified %}{{ page.url }}{% endcapture %}
      {% for node in site.pages %}
        {% if node.title != null %}
          {% if node.navigation != false %}
            {% if page.group == node.group %}
              {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
              {% else %}
              <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <script src="/assets/js/2016/scripts.js"></script>
</body>
</html>
