---
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="title" content="{{site.title}}">
  <meta itemprop="name" content="{{site.title}}">
  <meta property="og:title" content="{{site.title}}">
  <meta name="description" content="{{site.description}}">
  <meta itemprop="description" content="{{site.description}}">
  <meta id="meta-tag-description" property="og:description" content="{{site.description}}">
  <title>{{site.title}}</title>

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/style.css?body" rel="stylesheet" type="text/css" media="all">
    <!--[if lte IE 8]>
      <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.4/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->

  <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

</head>

<body data-spy="scroll" data-target="#menu" data-offset="0">
  <header class="header-main container-tv">
    <div class="navbar span12">
      <h1><a href="/"><img src="assets/img/logo-codeurs-en-seine.png" width="80" alt="{{site.title}}"></a></h1>
      <p class="tagline">Rencontre de codeurs : Agile, Java & Web</p>
    </div>  
  </header>
  
  <div class="main-tv">

    <script src="/assets/jquery/js/jquery.min.js"></script>
    <script src="/assets/jquery/js/jquery.timer.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
   
    <div class="container">
      {{ content }}
    </div>
  </div>



</body>
</html>