@charset 'UTF-8';

/*
color 1 : #4F4C4C; // black
color 2 : #4081bd; // blue
color 3 : #C7C8CA; // grey
*/

/* Custom style */
/*---------------------------------*/

html{
  font-size:1em;
  line-height:1.5em;
  height:100%;
  background:#4081bd;
}
body{
  font-family:'ubuntu', Verdana, Arial, Helvetica, sans-serif;
  font-size:1em;
  line-height:1.5em;
  background-color:transparent;
}
h1{
  font-weight:bold;
}

figcaption{
  font-size:.8em;
  color:#777;
}
img{
  max-width:100%;
  height:auto;
}
.img-polaroid{
  padding:4px;
  border:1px solid rgba(0, 0, 0, .2);
  background-color:#fff;
  box-shadow:0 1px 3px rgba(0, 0, 0, .1);
}

/* Layout
-------------------------------------------------- */
.bg{
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:40%;
  background:url(../../img/bg-md.jpg) no-repeat right bottom fixed;
  -webkit-background-size:cover;
          background-size:cover;
}
.main{
  color:#4f4c4c;
}

.section,
.save-the-date{
  margin-top:1em;
  border-radius:4px;
  background:#fff;
  box-shadow:0 2px 6px -2px black;
}
.section{
  padding:2em;
}
.section h2{
  margin:2em 0 1em 0;
}
.section h2:first-of-type{
  margin-top:0;
}
.section a{
  color:#4081bd;
}

.footer{
  padding-top:2em;
}
.footer a{
  color:#fff;
}

/* Header
-------------------------------------------------- */
.header-main{
  margin:.5em 1em .5em 0;
}

.tagline{
  font-size:1.5em;
  font-weight:bold;
  line-height:1.5em;
  margin-top:1em;
}

.nav-main{
  float:right;
}
nav .nav-pills > li{
  margin-left:1em;
}
.nav-item{
  color:#4f4c4c;
  background-color:#fff;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, .25);
}
nav .nav-item:hover,
nav .nav-item:active{
  color:#4081bd;
  background:#fff;
}
nav .nav-pills > li.active > .nav-item{
  background:#4081bd;
}
nav .nav-pills > li.active > .nav-item:hover,
nav .nav-pills > li.active > .nav-item:active{
  color:#fff;
  background:#4081bd;
}

/* Home
-------------------------------------------------- */
.save-the-date{
  padding:3em;
}
.save-the-date h2{
  margin:0 0 .5em 0;
}
.save-the-date h3{
  margin:0;
}

.lg-icon{
  font-size:6em;
  display:block;
  margin-bottom:.17em;
}

/* Agenda
-------------------------------------------------- */

.agenda-row{
  display:table;
  width:100%;
  border-bottom:2px solid #ddd;
}
.agenda-cell-time,
.agenda-cell{
  display:table-cell;
  width:20%;
  padding:.5em .5em 1.5em .5em;
  text-align:center;
  vertical-align:top;
  border-left:#ddd 1px solid;
}
.agenda-cell-time{
  font-size:1.4em;
  font-weight:bold;
  text-align:right;
  vertical-align:middle;
  color:#000;
  background:#eee;
}
.agenda-cell-keynote,
.agenda-cell-break{
  line-height:1.2em;
  width:80%;
  padding-top:1.5em;
  vertical-align:middle;
  background:#f1f1f1;
}
.agenda-title{
  font-weight:bold;
  position:relative;
  display:block;
  color:#000;
}
.agenda-title a{
  color:#000;
}
.agenda-table .agenda-speakers{
  display:block;
}
.agenda-cell-keynote .agenda-speakers,
.agenda-cell-break .agenda-speakers{
  font-weight:bold;
}
.agenda-room{
  font-size:85%;
  display:block;
}
.agenda-cell-web,
.agenda-cell-agile,
.agenda-cell-java,
.agenda-cell-technologies{
  position:relative;
  overflow:hidden;
  background:rgba(255, 59, 0,.05);
}
.agenda-cell-agile{
  background:rgba(114, 255, 0,.05);
}
.agenda-cell-java{
  background:rgba(64, 129, 189,.05);
}
.agenda-cell-technologies{
  background:rgba(189, 64, 129,.05);
}
.agenda-cell-web:before,
.agenda-cell-agile:before,
.agenda-cell-java:before,
.agenda-cell-technologies:before{
  font-family:Arial, Helvetica, sans-serif;
  font-size:3em;
  font-weight:bold;
  position:relative;
  z-index:0;
  display:block;
  height:100%;
  margin:20px 0 -20px 0;
  padding:0 3px;
  content:'Web';
  -webkit-transform:rotate(-20deg);
      -ms-transform:rotate(-20deg);
          transform:rotate(-20deg);
  color:rgba(255, 59, 0,.1);
}
.agenda-cell-agile:before{
  content:'Agile';
  color:rgba(114, 255, 0,.1);
}
.agenda-cell-java:before{
  content:'Java';
  color:rgba(64, 129, 189,.1);
}.agenda-cell-technologies:before{
  content:'Tech';
  color:rgba(189, 64, 129,.1);
}

/* Speakers
-------------------------------------------------- */

.orateur{
  margin-bottom:2em;
  padding-bottom:2em;
  border-bottom:1px solid #ddd;
}

.orateur-type{
  font-weight:bold;
}
.orateur-links,
.speakers-talks{
  overflow:hidden;
  width:100%;
}
.orateur-links{
  margin-bottom:1em;
  padding-left:0;
}
.orateur-links li{
  display:inline-block;
  margin-right:.7em;
  list-style-type:none;
}
.orateur-links li a{
  text-decoration:underline;
}
.orateur-links li a:focus,
.orateur-links li a:hover{
  text-decoration:none;
}
.orateur-talk h2{
  margin-bottom:0;
}
.orateur-talk-type{
  font-weight:bold;
  margin-bottom:1em;
}

/* Sponsor
-------------------------------------------------- */

.sponsor{
  margin-bottom:1em;
  padding-bottom:1em;
  border-bottom:1px solid #c7c8ca;
}

.sponsor-table th,
.sponsor-table td{
  width:20%;
  vertical-align:middle !important;
}

.sponsor-option-desc{
  font-weight:normal;
}
.sponsor-option-enabled,
.sponsor-option-disabled{
  text-align:center;
}
.sponsor-option-enabled{
  color:green;
}
.sponsor-option-disabled{
  color:#999;
}

.sponsorline ul{
  margin:30px 8px 1em 0;
  padding:0;
  list-style-type:none;
}
.sponsorline li{
  float:left;
  width:13.25%;
  margin:0 0 .5em 1%;
  padding:0;
  list-style-type:none;
}

/* Organisateurs
-------------------------------------------------- */

.thumbnail{
  border:10px solid #fff;
  background:#fff;
}

/* Comment venir
-------------------------------------------------- */

.map{
  width:100%;
  height:700px;
}

/* Media queries
-------------------------------------------------- */

@media screen and (max-width: 767px){
}

@media screen and (max-width: 767px){
  .bg{
    height:60%;
    background-image:url(../../img/bg-sm.jpg);
  }
  .nav-main{
    float:none;
  }
  nav .nav-pills > li{
    float:none;
    margin:1em;
    text-align:center;
  }
  nav .nav-item{
    float:none;
  }
  nav .nav-pills > li.active > .nav-item{
    color:#4f4c4c;
    background:#c7c8ca;
  }
  nav .nav-pills > li.active > .nav-item:hover,
  nav .nav-pills > li.active > .nav-item:active{
    color:#4f4c4c;
    background:#c7c8ca !important;
  }

  .agenda-table,
  .agenda-cell,
  .agenda-cell-time{
    display:block;
    width:100%;
    height:auto;
  }
  .agenda-row{
    margin-bottom:1em;
  }
  .agenda-cell-time{
    text-align:center;
  }
  .agenda-cell{
    font-size:1em;
  }

  .tagline{
    display:none;
  }
  .save-the-date{
    padding:2em;
  }
  .map{
    height:400px;
  }
}
